body{
  background-position: center;
  background-color: 	#F0E68C; /*Khaki*/
  font-family: 'Georgia', serif;
  font-size: 20px; /* 1.25em */
  text-align: center;
  width: auto;
  text-decoration: none;
  position: relative;
  margin: 0 auto;
}

h1{
  font-size: 2.7em; /* 43.2px */
  color: #87CEEB; /*SkyBlue*/
}

h2{
  font-size: 1.7em;  /* 27.2px */
  color: #2E8B57; /*SeaGreen*/
}
form{
  text-align: center;
  background-color: #b3dbff;
}

input{
  width: 50%;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 11px 19px;
  border-radius: 5px;
}

label{
  display: block;
  text-align:center;
  font-size: 1.2em; /* 19.2px */
}

#First{
  color: #0000FF; /*Blue*/
}

#Second{
  color: #A52A2A/*Brown*/
}

#User{
  color: #D2691E; /*Chocolate*/
}

#Password{
  color: #8A2BE2; /*BlueViolet*/
}

#Email{
  color: #DC143C; /*Crimson*/
}

#gen{
  color:#9932CC; /*DarkOrchid*/
  text-align: left; 
  display: inline-block;
  }


#DOB{
  color: #FF0000;/*Red*/
}

button{
  padding: 18px 36px 17px 36px;
  color:  black; 
  font-size: 15px;
  text-align:  center;
  border-radius: 4px; /* 0.25em */
  border: 1px solid yellow;
  border-width: 1.2px 1.2px 1.5px;
  margin-bottom: 5px; /* 0.3125em */
}


@media only screen and (min-width: 480px){
  form{
    min-width: 480px;
  }
  label{
    font-size: 1.2em; /* 19.2px */
  }
  input{
  width: 40%;
  }
}

@media only screen and (min-width: 960px) {
  form{
    min-width: 960px;
  }
  input{
    width: 50%;
  }
}
